@using WebProj.Models

@model IEnumerable<Aranzman>
<script>
    function myFunction(x) {
        let url = new URL('https://localhost:44363/Aranzmani/AranzmanIzIndex?aranzmanRb=' + x.rowIndex);
        window.location.href = url;
    }

function sortTable() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[3];
            y = rows[i + 1].getElementsByTagName("TD")[3];
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }
}
</script>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    img {
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        width: 75px;
        height: 65px;
    }

    td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    th {
        background-color: darkred;
        color: white;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    tr:hover {
        color: red;
    }

        tr:hover td {
            color: red;
        }
</style>

<h3>Predstojeci Aranzmani</h3>
<p><button onclick="sortTable()">Sort</button></p>
<table class="styled-table" border="1" id="myTable">
    <tr>
        <th>datum pocetka</th>
        <th>datum zavrsetka</th>
        <th>broj dana</th>
        <th>naziv</th>
        <th>tip aranzmana</th>
        <th>tip prevoza</th>
        <th>mesto nalazenja</th>
        <th>lokacija</th>
        <th>broj putnika</th>
        <th>slika</th>
    </tr>
    @foreach (var item in Model)
    {
        if (!item.obrisan)
        {
            <tr onclick="myFunction(this)">
                <td>@item.datPocetka </td>
                <td>@item.datZavrsetka </td>
                <td>@((item.datZavrsetka.Date - item.datPocetka.Date).Days) </td>
                <td>@item.naziv </td>
                <td>@item.tipAranzmana </td>
                <td>@item.tipPrevoza </td>
                <td>@item.mestoNalazenja </td>
                <td>@item.lokacija </td>
                <td>@item.maksimalanBrPutnika </td>
                <td><img src=@item.poster width="75"></td>
            </tr>
        }
    }
<div class="search-container">
    <form action="SearchAranzmani">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Search</button>
    </form>
</div>
</table>