@using WebProj.Models

@model IEnumerable<Aranzman>
<script>
    function myFunction(x) {
        let url = new URL('https://localhost:44363/Aranzmani/AranzmanIzSvi?aranzmanRb=' + x.rowIndex);
        window.location.href = url;
    }
</script>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    img {
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        width: 75px;
        height: 65px;
    }

    td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    th {
        background-color: darkred;
        color: white;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    tr:hover {
        color: red;
    }

        tr:hover td {
            color: red;
        }
</style>
<h3>Svi Aranzmani</h3>
<table class="styled-table" border="1">
    <tr>
        <th>datum pocetka</th>
        <th>datum zavrsetka</th>
        <th>broj dana</th>
        <th>naziv</th>
        <th>tip aranzmana</th>
        <th>tip prevoza</th>
        <th>mesto nalazenja</th>
        <th>lokacija</th>
        <th>broj putnika</th>
        <th>slika</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr onclick="myFunction(this)">
            <td>@item.datPocetka </td>
            <td>@item.datZavrsetka </td>
            <td>@((item.datZavrsetka.Date - item.datPocetka.Date).Days) </td>
            <td>@item.naziv </td>
            <td>@item.tipAranzmana </td>
            <td>@item.tipPrevoza </td>
            <td>@item.mestoNalazenja </td>
            <td>@item.lokacija </td>
            <td>@item.maksimalanBrPutnika </td>
            <td><img src="https://fthmb.tqn.com/fIxGlTIEndm_hzjjF3vO2UebDJI=/2048x1365/filters:fill(auto,1)/8659015428_f46d5495a1_k-56a6d4515f9b58b7d0e502d3.jpg" width="75"></td>
        </tr>
    }
</table>