@{ 
    WebProj.Models.Korisnik k = WebProj.Models.Baza.korisnici.Find(x => x.korisnickoIme.Equals(Request.Cookies["LoggedIn"].Value.Split('_')[0]));
} 
<ul>
    <li>Korisnicko Ime: @k.korisnickoIme</li>
    <li>Ime: @k.ime</li>
    <li>Prezme: @k.prezime</li>
    <li>Mail: @k.email</li>
    <li>dat rodj: @k.datumRodjenja</li>
    <li>uloga: @k.uloga</li>
    <li>pol: @k.pol</li>
</ul>

<form action="https://localhost:44363/User/Update" id="forma">
    <div class="container">

        <h3 style="color:red">@ViewBag.Message</h3>
        <h1>Azuriraj profil</h1>
        <p>Popunite formu da azuriras profil.</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Unesite Email" name="email" id="email" required>

        <br>

        <label><b>Korisnicko Ime</b></label>
        <input type="text" placeholder="Unesite Korisnicko Ime" name="kIme" id="kIme" required>
        <br>

        <label><b>Ime</b></label>
        <input type="text" placeholder="Unesite Ime" name="ime" id="ime" required>

        <br>

        <label><b>Prezime</b></label>
        <input type="text" placeholder="Unesite Prezime" name="prz" id="prz" required>

        <br>

        <label for="pswold"><b>Stara Lozinka</b></label>
        <input type="password" placeholder="Stara Lozinka" name="pswold" id="pswold" required>
        
        <label for="psw"><b>Lozinka</b></label>
        <input type="password" placeholder="Lozinka" name="psw" id="psw" required>

        <br>

        <label for="psw-repeat"><b>Ponovite Lozinku</b></label>
        <input type="password" placeholder="Ponovite Lozinku" name="pswrepeat" id="psw-repeat" required>

        <br>

        <label><b>Datum Rodjenja</b></label>
        <input type="date" name="dRodjenja" id="dRodjenja" required>

        <br>

        <label for="pol">Pol</label>
        <select form="forma" name="pol">
            <option value="musko"> M </option>
            <option value="zensko"> Z </option>
        </select>

        <br>

        <label for="uloga">Uloga</label>
        <select form="forma" name="uloga">
            <option value="turista">Turista</option>
            <option value="menadzer">Menadzer</option>
        </select>

        <hr>

        <button type="submit" class="registerbtn">Azuriraj profil</button>
        <h5>Rezervacije</h5>
        <table class="styled-table" border="1" id="myTable">
            @foreach (var item in k.rezervacije)
            {
                <tr onclick="fun(this)">
                    <td>
                        Smestajna jedinica: @item.smestajnaJedinica.id
                    </td>
                    <td>
                        status: @item.status
                    </td>
                    <td>
                        id: @item.id
                    </td>
                </tr>
            }
        </table>
    </div>
</form>